body {
  background-color: black;
   
}

#slide {
  background-color: white;
  /*color: black;*/
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: flex;  
  flex-flow: row wrap;
  text-align: center; 
  font-family: "Impact", Charcoal, sans-serif;
  justify-content: space-between;
}

#slide > * {
  padding: 10px;

}
.question {
  list-style: none;
  display: none;
}

#currentQuestion {
  display: block;
}

#btnNext,
#score,
#timer {
  display: none;
}

#imgBig {
  display: flex;
  width: 400px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
}

#btnStar,
#btnHowTo {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

@media all and (min-width: 800px) {
  #imgBig    { flex: 3 0px; }
  #btnStart { order: 1; } 
  #btnHowTo    { order: 2; }
}
