body {
  background-color: black;
}

#slide {
  background-color: white;
  color: black;
}
.question {
  list-style: none;
  display: none;
}

#currentQuestion {
  display: block;
}

#btnNext,
#score,
#timer {
  display: none;
}

#imgBig {
  width: 100px;
  height: 100px;
}
