body {
  background-color: black;
}

#slide {
  background-color: white;
  /*color: black;*/
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.question {
  list-style: none;
  display: none;
}

#currentQuestion {
  display: block;
}

#btnNext,
#score,
#timer {
  display: none;
}

#imgBig {
  display: block;
  width: 400px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
}
